{%  extends "layout.twig"  %}
{%  block content  %}


				<div class="blog-post">

		 
                 <ul><li><a href="{{ 'admin/posts'  | url }}">Manager</a></li></ul>

				</div>
		 
	

{%  endblock  %}
 